.FinishedQuiz {
    margin: 0 10px;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            i {
                margin-left: 10px;
                &.success {
                    color: rgba(161, 240, 69, .9);
                }
                &.error {
                    color: rgba(240, 87, 108, .9);
                }
            }
        }
    }
}
